mat-card:hover {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

mat-card {
    margin: 0.5rem;
    width: 80%;
}

mat-card-title {
    display: flex;
    align-items: center;
}

.forked, .archived {
    margin-left: 0.5rem;
}

#content {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    justify-content: space-between;
}

#links {
    display: flex;
    align-items: center;
}

#homepage {
    cursor: pointer;    
}